<log4net>
	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender, log4net" >
		<param name="File" value="C:\logging\log.txt" />
		<file value="c:\logging\SDET_API_Log" />
		<appendToFile value="true" />
		<datePattern value="yyyyMMddhhss'.log'" />
		<rollingStyle value="Composite" />
		<staticLogFileName value="false" />
		<maxSizeRollBackups value="-1" />
		<maximumFileSize value="500MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="LogFileAppender" />
	</root>
</log4net>